.App {
  /* text-align: center; */
  min-height: 100vh;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #a87e70;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ... Estilos existentes ... */

/* Agrega la animación a la flecha */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

.arrow-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #a87e70;
  border-radius: 20%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: bounce 2s infinite;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 1000;
}

.arrow-icon.hidden {
  opacity: 0;
  pointer-events: none;
}

/* ... Estilos existentes ... */

/* Estilo para personalizar la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #a87e70; /* Color de fondo de la barra de desplazamiento */
  border-radius: 8px; /* Bordes redondeados de la barra de desplazamiento */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .arrow-icon {
    width: 30px;
    height: 30px;
    bottom: 50px;
    right: 15px;
  }
}
